.italic { font-style: italic;}
.block_first { cursor: pointer; position: relative; font-size: 20px; font-style: italic; color: #919397;}
.full_schedule { cursor: pointer; position: relative; padding: 0 30px; font-size: 20px; font-style: italic;}
.block_second { cursor: pointer; position: relative; font-size: 20px; font-style: italic; color: #919397;}
.table_style { background: #eee; border-collapse: collapse; border: 1px solid #8A8A8A;}
.center { text-align: center !important;}
.td_style1 {background: #366867;color: #FBF9F9;letter-spacing:
1px;font-size: 0.75em;text-align: center !important;padding: 0 !important;word-break: normal !important;}
.td_style2{ font-size: 74%;}
.table_style td{table-layout: auto;text-align: left;}
.table_style td a{text-decoration: none;}
span.segueTeacher{color: red;font-size: 10pt;}
span.segueAud{    font-weight: bold;color: #bf1010;font-size: 10pt;word-break: break-word}
#divLittle{text-align: center;}
.modelH3{font-size: 0.85em;font-weight: bold;}
.table_style td a {pointer-events: none;cursor: default;text-decoration: none;}
.txtInput{box-sizing: border-box;border-radius: 5px;border-bottom: 2px solid #ffc107;width:55%;}
.naz_disc{font-size:1.2em;}
.notPair { text-align: center; font-size: 16px; color: #6E6E6E; padding: 10px; letter-spacing: 2px; font-weight: bold;}
.divBodyAud { text-align: center;}
.paud_date { text-align: center; font-size: 17px; color: #8C8C8C;}
.aPrinter { float: right;}
.bColor { color: #333;} 
.block {     font-size: 0.85em;font-weight: bold;}
.pInlineBlock { display: table-cell;}
.spanSemester { border: 1px solid #8A8A8A; width: 25px; height: 25px; float: left; background-color: #eee;}
.spanBlockOne  {width: 25px; float: left; height: 25px; background-color: rgba(143, 188, 143, 0.4);}
.spanBlockTwo  {width: 25px; height: 25px; float: left;background-color: rgba(250, 235, 215, 0.9);}
.initial { text-align: center;display: inline-block;}
.colorOne { background-color: rgba(250, 235, 215, 0.9);}
.colorTwo { background-color: rgba(143, 188, 143, 0.4);} 
.segueGrup, .segueTeacher, .segueAud { cursor: pointer; font-style: italic; color: rgb(97, 167, 156);}
.segueGrup:hover, .segueAud:hover, .segueTeacher:hover { color:rgb(54, 104, 103); font-weight: bold;}
.hide_schedule { display: none;}
.view_schedule {	/*display: inline;*/ width:100%;overflow-x: scroll;}
#kurs{display:block;font-size: 1.3em;color:black;font-weight: bold;}
.nottable_fio, .nottable_aud, .nottable_lang, .nottable_grnum{display:block; clear:both;}
#notes
{
    padding: 20px;
    line-height: 1.4;
    overflow: scroll;
}
/*Надстройка quasar css стилей*/
.q-tab-label{
    font-size: 0.75em;
    position: relative;
}
.select-style {
    border: 3px solid #949393;
    width: 120px;
    border-radius: 7px;
    overflow: hidden;
    background: #f1f1f3 no-repeat 90% 50%;
    width: 95%;
}

.select-style option {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
#groups input {margin-left: 1%;}
/*Радиобаттон*/
.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     color: red;
     top: 10px;
     height: 30px;
     width: 30px;
     border-radius: 50px;
     cursor: pointer;     
     outline: none;
     border: 1px solid darkgoldenrod;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}
/*Радиобаттон конец*/
.animated{
    animation-duration:1.5s;
}
.invise
{
    display: none;
}